<bs-header></bs-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 py-2">
          <h1>Privacy</h1>
        </div>
      </div>
      <div class="row py-2 body-content-height">
        <div class="col-md-6 px-3">
          <p>Your Privacy is important for us. We will keep only the user provided information for the indentity and bussiness purposes.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<bs-footer></bs-footer>
