@import '../../../variable.scss';
.navbar{
  background: #fff;
  .logo{
    height: 5rem;
  }
  .navbar-brand{
    color: coral;
    &:hover, &:active{
      color: coral;
      text-decoration: none;
    }
  }
}
.background-fun{
  height: 5px;
  background: $primary-color;
  background: linear-gradient(99deg, rgb(248, 242, 206) 0%, $primary-color 100%);
}
