<div class="container-fluid footer-container">
  <div class="row px-2 my-2">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <div class="row text-center">
        <div class="col-md-12 my-2">
          <span class="mx-1 d-inline-block"><a [routerLink]="['/home-page']">Home Page</a></span>
          <span class="mx-2">|</span>
          <span class="mx-1 d-inline-block"><a [routerLink]="['/contact']">Contact Us</a></span>
        </div>
        <!-- <div class="col-md-12">
          <p>@ copyrights reserved to BSD.</p>
        </div> -->
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12 my-2">
          <div class="d-inline-block float-end">
            <h3 class="d-inline-block">Follow us:</h3>
            <span class="mx-1 d-inline-block social-icons"><a href="https://www.facebook.com/profile.php?id=100085872577641" target="_blank" title="Follow us on Facebook"><em class="fa fa-facebook-square"></em></a></span>
            <span class="mx-1 d-inline-block social-icons"><a href="" target="_blank" title="Follow us on Instagram"><em class="fa fa-instagram"></em></a></span>
            <span class="mx-1 d-inline-block social-icons"><a href="" target="_blank" title="Follow us on Twitter"><em class="fa fa-twitter-square"></em></a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
