<bs-header></bs-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 py-2">
          <h1>Our Products!</h1>
        </div>
      </div>
      <div class="row py-2 body-content-height">
        <div class="col-md-6 px-3">
          <mat-list role="list">
            <h3 class="px-3 mb-2 text-warning">Products Details:</h3>
            <mat-list-item role="listitem">
              <mat-icon class="product-icon"><em class="pi pi-check-circle text-warning"></em></mat-icon>
              Coaching Center for Documents/Deed Writting.
            </mat-list-item>
            <mat-list-item role="listitem">
              <mat-icon class="product-icon"><em class="pi pi-check-circle text-warning"></em></mat-icon>
              Type writing Center in all major languages.
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
  </div>
</div>
<bs-footer></bs-footer>
