<bs-header></bs-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 body-admin-height">
            <p-tabView>
                <p-tabPanel header="Documents Request">
                   <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12 bg-heading py-2">
                                <h4 class="text-white">Request</h4>
                            </div>
                            <div class="col-md-12 main-list-container">
                                <div *ngFor="let item of userList" class="row border mb-2 cursor-pointer" >
                                    <div class="col-md-12 py-3" (click)="showDetails(item.key, item)">
                                        <span class="picture-item">S</span>
                                        <span class="mx-2">{{item.fullName}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12 px-3">
                                <div class="row mb-3">
                                    <div class="col-md-12 bg-heading py-2">
                                        <h4 class="text-white">Details</h4>
                                    </div>
                                    <div class="col-md-12 px-3 py-2 chat-container">
                                        <div class="d-block" *ngFor="let item of getActDoc">
                                                <div class="p-2 msg-align-right d-inline-block">
                                                    <div *ngIf="item.includes('.pdf')">
                                                        <img class="view-file" src="/assets/images/pdf-file.png" alt="{{item}}" title="{{item}}"/>
                                                      </div>
                                                      <div *ngIf="!item.includes('.pdf')">
                                                        <img class="view-file" src="{{item}}" alt="{{item}}" title="{{item}}"/>
                                                      </div>
                                                </div>
                                        </div>
                                        
                                       
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" pInputText class="form-control send-control"/>
                                        <em class="pi pi-send text-success send-icon"></em>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   </div>
                </p-tabPanel>
                <p-tabPanel header="Courses Request">
                    Content 2
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>
<bs-footer></bs-footer>
