::ng-deep{
  .mat-list{
      border-radius: 30px;
      padding-top: 20px;
      position: relative !important;
      background: rgba(203, 243, 201, 0.411) !important;
      box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%) !important;
   
    .list-icon{
      padding: 10px;
      margin-right: 10px;
      box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%) !important;
      em::before{
        font-size: 16px;
        position: absolute;
        margin: -30px 0 0 -5px;
      }
    }
  }
}
