<bs-header></bs-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 py-2">
          <h1>Welcome to Bright Sun Documents!</h1>
        </div>
      </div>
      <div class="row py-2 body-content-height">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12 my-2">
              <div class="row">
                <div class="col">
                  <div class="services-button nav-products" (click)="externalApps()">
                    <div class="title" title="Go to Documents Application">
                      Documents
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
        <div class="col-md-6">
          <bs-carousel-header></bs-carousel-header>
        </div>
        <div class="col-md-6">
          <mat-card>
            <mat-card-title class="h2 py-4">Main Objective:</mat-card-title>
            <p class="decorated"><span class="fw-bold">Bright Sun Documents</span> is the learning environment where you can learn How to do document writing and registering the documents. </p>
            <p class="decorated">Government registered documents are the main source of proof and promises with which one can claim their ownership over the agricultural land, Plots, comercial building, leases, contracts and many more.</p>
            <p class="decorated">Here we provide a plateform in a wide range to learn all about document writing and the procedures of registering the documents of various types.</p>
            <p class="decorated">Also here in Bright Sun Documents, we will provide you a real time field experience of handling the clients in an end-to-end process.</p>
          </mat-card>
        </div>
        </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<bs-footer></bs-footer>
